
.section {

    &__about{
        &-banner {
            height: 200px;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            .container .col {
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    height: 50px;
                }
                figure {
                    margin: 0;
                }
            }
            @include media-breakpoint-down(xl) {
                height: 100px;
            }
        }
        &-home {
            padding-top: 0;
            padding-bottom: 0;
            margin: 0;
            .areoi-background {
                @include media-breakpoint-up(xl) {
                    width: 50%;
                }
                @include media-breakpoint-down(xl) {
                    opacity: .5;
                }
            }
            .wp-block-group {
                padding: 5% 0;;
            }
            &--info {
                @include media-breakpoint-up(xl) {
                    .col:nth-child(2){
                        padding: 0 0 0 10%;
                    }
                }

                .wp-block-social-link {
                    svg {
                        width: 2em;
                        height: 2em;
                    }
                }
            }
        }
    }

    &__projects {
        &--grid .row{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            @include media-breakpoint-down(lg) {
                grid-template-columns: repeat(2, 1fr);
            }
            @include media-breakpoint-down(sm) {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    &__quote {

        color: $white;

        @include media-breakpoint-up(md) {
            margin-bottom: 100px;
        }

        padding-top: 50px;
        padding-bottom: 50px;
        background: rgb(62,63,65);
        background: radial-gradient(circle at right, rgba(62,63,65,7) 0%, rgba(62,63,65,0.8) 25%, rgba(62,63,65,1) 100%);

        &--content {

            display: flex;
            justify-content: center;
            // align-items: center;
            flex-direction: column;

            h2 {
                font-weight: 700;
                margin: 0;
                padding: 0;
            }

            p {
                font-weight: 300;
                margin: 0;
                padding: 0;
            }

            @include media-breakpoint-down(lg) {
                text-align: center;
            }

        }

        &--button {

            display: flex;
            justify-content:center;
            align-items: center;

            .wp-block-button__link {

                background-color: $grey !important;
                color: $bluegrey !important;
                padding: 20px 50px !important;
                font-weight: 700 !important;

            }
            

        }

    }

    // &__process-goes {

    //     background-color: $bluegrey;
    //     color: $white;

    //     padding-top: 100px;
    //     margin: 0;

    //     &.goes2{
    //         padding-bottom: 100px;
    //     }


    //     h2 {
    //         color: $white;
    //         font-size: 63px;
    //         z-index: 1;
    //         margin-bottom: 0;

    //         & + p {
    //             color: $white;
    //             font-size: 24px;
    //             z-index: 1;
    //             margin-top: 0;
    //         }
    //     }

    //     &--content {

    //         padding: 40px;
    //         background-color: #f7f7f7;
    //         color: $bluegrey;

    //         .wp-block-heading {
    //             font-weight: 700;
    //             line-height: 1.2;
    //             margin-bottom: 0.5em;
    //             margin-top: 0;
    //             z-index: 1;
    //         }

    //     }

    //     .howitgoes-swiper {

    //         overflow: hidden;

    //         .swiper-wrapper {
    //             flex-wrap: nowrap;

    //             .swiper-slide {
    //                 margin: 0;
    //                 min-height: 400px;

    //                 @include media-breakpoint-down(sm) {
    //                     margin-left: 3.4px;
    //                 }
    //             }
    //         }

    //         .swiper-button{

    //             &-prev, 
    //             &-next {
    //                 color: $white;
    //                 font-size: 40px;
    //                 z-index: 1;
    //                 position: relative;
    //                 padding-bottom: 45px;
    //                  margin: 20px 0;
    //             }

    //             &-prev {
    //                 float: left;
    //             }
    //             &-next {
    //                 float: right;
    //             }

    //         }

    //     }


    // }

    &__latest-post {

        &--title {

            margin-top: 100px;

            h2 {
                color: $bluegrey;
                font-weight: 700;
                font-size: 64px;
                z-index: 1;
                @include media-breakpoint-down(md){
                    font-size: 48px;
                }
            }

        }

        &--content {

            padding: 0 20px;

            @include media-breakpoint-down(md) {
                .row .col > div {
                    padding: 0 20px !important;
                }
            }

            a {
                font-weight: 700;
                line-height: 1.2;
                margin-bottom: 0.5em;
                margin-top: 0;
                z-index: 1;
            }

        }

    }

    &__work {
        &--grid {
            .col {
                padding: 0;
                .card-group {
                    display: grid;
                    grid-template-columns: repeat(4,1fr);
                    gap: 0;
                    @include media-breakpoint-down(lg) {
                        grid-template-columns: repeat(2,1fr);
                    }
                    @include media-breakpoint-down(sm) {
                        grid-template-columns: repeat(1,1fr);
                    }
                    .card {
                        border-radius: 0;
                        .project-item {
                            &__image {
                                img {
                                    height: 250px;
                                    object-fit: cover;
                                    object-position: center;
                                }
                            }
                            &__title {
                                padding: 30px 0;
                            }
                            &__span {
                                position: absolute;
                                bottom: 15px;
                            }
                        }
                    }
                }

                .card-post {
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    gap: 40px;
                    @include media-breakpoint-down(lg) {
                        grid-template-columns: repeat(2,1fr);
                    }
                    @include media-breakpoint-down(sm) {
                        grid-template-columns: repeat(1,1fr);
                        gap: 0;
                    }
                    .card {
                        border-radius: 0;
                        border-color: transparent;
                        background-color: transparent;
                        .project-item {
                            &__title {
                                padding: 30px 0;
                                color: $darkred;
                            }
                            &__span {
                                position: absolute;
                                bottom: 15px;
                            }
                        }
                    }
                }
            }
        }
    }

    &__projects {

        max-height: 50vh;
        min-height: 500px;
        overflow: hidden;

        margin-block-end: 150px !important;

        .project-item {

            &__image {

                height: 100%;

                a {

                    width: 100%;
                    height: 50vh;
                    min-height: 500px;

                }

                img {
                    width: 100%;
                    height: 50vh;
                    min-height: 500px;
                    object-fit: cover !important;
                    object-position: center !important;
                }

            }

            &__content {

                z-index: 9;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 50vh;
                min-height: 500px;

                padding: 50px;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0,0.3);
                    z-index: -1;
                }

                .project-item{

                    &__title {

                        color: $white;
                        font-weight: 700;
                        font-size: 64px;
                        z-index: -1;
                        position: relative;

                    }

                    &__description {

                        position: relative;
                        z-index: -1;

                        p {
                            color: $white;
                            font-weight: 300;
                            font-size: 24px;
                            z-index: -1;
                            position: relative;
                        }

                    }

                    &__span {

                        position: relative;
                        z-index: -1;

                        span {

                            color: $white;
                            font-weight: 500;
                            font-size: 24px;
                            z-index: -1;
                            position: relative;

                        }

                    }

                }

            }

        }

    }

    &__companies{

        &--header {
            padding-top: 100px;

            h2 {
                color: $darkred;
                font-weight: 700;
            }
        }

        &--grid{
            padding-bottom: 60px;

            & > div {

                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 20px;
                padding: 50px 0;

                @include media-breakpoint-down(xl) {
                    grid-template-columns: repeat(3, 1fr);
                }

                @include media-breakpoint-down(lg) {
                    grid-template-columns: repeat(2, 1fr);
                }

                @include media-breakpoint-down(md) {
                    grid-template-columns: repeat(1, 1fr);
                }
    
                & > div > div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    padding: 20px 10px 10px;
                    opacity: .5;
    
                    // padding: 20px 0;
                    background-color: white;

                    &:hover {
                        opacity: 1;
                        transition: all 0.3s ease-in-out;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #e3e3e3;
                    }
    
                    img {
                        max-width: 50px;
                        max-height: 50px;
                        object-fit: contain;
                        margin-right: 20px;
                    }
                }
    
            }
        }

    }

    &__contact {

        background-color: $bluegrey;

        margin-block-start: 150px !important;
        margin-block-end: 150px !important;

        &--details {

            background-color: #f7f7f7 !important;
            padding: 40px 80px;

            @include media-breakpoint-down(md) {
                padding: 40px 20px;
            }

            h1 {
                color: $bluegrey;
                font-weight: 700;
                font-size: 64px;
                z-index: 1;
            }

            a {

                color: $bluegrey;
                font-weight: 700;
                font-size: 24px;
                z-index: 1;

                &:hover {
                    color: $darkred;
                    transition: all 0.3s ease-in-out;
                }

            }

        }

        &--form {

            

        }

    }

}