<!-- wp:template-part {"slug":"header-es","tagName":"header-es"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"top":"calc(var(--wp--custom--v-spacing, 1.25rem) *3)","bottom":"calc(var(--wp--custom--v-spacing, 1.25rem) *2)"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group alignfull" style="padding-top:calc(var(--wp--custom--v-spacing, 1.25rem) *3);padding-bottom:calc(var(--wp--custom--v-spacing, 1.25rem) *2)">

	<div class="container">
		<div class="row">
			<div class="col col-12">
				<!-- wp:shortcode -->[post_projects_es]<!-- /wp:shortcode -->
			</div>
		</div>
	</div>

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-es","tagName":"footer-es"} /-->
